<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <title>Simon Pederick | Games Programmer</title>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="sub-header">
        <h1 class="project-name">Simon Pederick</h1>
        <h2 class="project-tagline">Games Programmer</h2>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <script>
      /*
   * Youtube video auto-resizer script
   * Created by Skipser.com
  */

        $(document).ready(function () {
          if (typeof YOUTUBE_VIDEO_MARGIN == 'undefined') {
            YOUTUBE_VIDEO_MARGIN = 5;
          }
          $('iframe').each(function (index, item) {
            if ($(item).attr('src').match(/(https?:)?\/\/www\.youtube\.com/)) {
              var w = $(item).attr('width');
              var h = $(item).attr('height');
              var ar = h / w * 100;
              ar = ar.toFixed(2);
              //Style iframe    
              $(item).css('position', 'absolute');
              $(item).css('top', '0');
              $(item).css('left', '0');
              $(item).css('width', '100%');
              $(item).css('height', '100%');
              $(item).css('max-width', w + 'px');
              $(item).css('max-height', h + 'px');
              $(item).wrap('<div style="max-width:' + w + 'px;margin:0 auto; padding:' + YOUTUBE_VIDEO_MARGIN + 'px;" />');
              $(item).wrap('<div style="position: relative;padding-bottom: ' + ar + '%; height: 0; overflow: hidden;" />');
            }
          });
        });
    </script>
  </body>
</html>